#include "Base.xcconfig"

KINEO_BUILD_CHANNEL = DebugPrototype
KINEO_PLACEHOLDER_CONTENT_ALLOWED = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEBUG KINEO_PROTOTYPE KINEO_PLACEHOLDER_CONTENT
ENABLE_TESTABILITY = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
DEBUG_INFORMATION_FORMAT = dwarf
ONLY_ACTIVE_ARCH = YES
