#include "Base.xcconfig"

KINEO_BUILD_CHANNEL = ReleaseCandidate
KINEO_PLACEHOLDER_CONTENT_ALLOWED = NO
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) KINEO_RELEASE_CANDIDATE
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
VALIDATE_PRODUCT = YES
